video {
  position: absolute;
  border: none;
  left: 50%;
  bottom: 20%;
  width: 45%;
  height: auto;
  border-radius: 2.5%;
}
#headShot{
  width: 40%;
  height: auto;
  left: 2.5%;
  top: 10.5%;
}

#headShot-outline{
  width: 34.5%;
  height: auto;
  left: 6.75%;
  top: 16%;
}

#hero-ribbon{
  width: 62.5%;
  top: 20%;
  left: 2%;
}

#name, #pronunciation, #title{
  font-family: var(--open-sans);
  color: var(--black);
  position: absolute;
}

#name{
  text-transform: uppercase;
  font-weight: bold;
  top: 81%;
  left: 20%;
}

#pronunciation{
  top: 84%;
  left: 17.5%;
}

#title{
  top: 87%;
  left: 20%;
}


.hero-container{
  height: 650px;
}

.hero-container img{
  position:absolute
}

.hero-top{
  background: var(--red);
  height: 50%;
}

.hero-bottom{
  background: var(--gold);
  height: 50%;
}