html {
  font-family: var(--open-sans);
}
.resume {
  position: absolute;
  height: auto;
  width: 50%;
  top: 120px;
  left: 200px;
  z-index: -1;
}

.pdf {
  position: absolute;
  right: 200px;
  top: 250px;
}

footer {
  background: var(--orange);
  position: absolute;
  top: 1600px;
  width: 100%;
  height: 8rem;
}
